<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-md-5">
    <div class="row pt-5" style="text-align: center;" >
        <div class="col"></div>
        <div class="col-lg-3 col-md-6 mb-5" >
            <h4 class="text-primary mb-4" >Contact Us</h4>
            <p><i class="fa fa-map-marker-alt mr-2"></i>3307 3rd Ave W, Seattle, WA 98119</p>
            <p><i class="fa fa-phone-alt mr-2"></i>(206) 548-6790 </p>
            <p><i class="fa fa-envelope mr-2"></i>contact@parityy.us</p>
        </div>
        <div class="col"></div>
    </div>
    
</div>