.segment {
    margin-top : 2%;
    border-bottom: 1px solid black;
}

.segment p {
    padding-left : 3em;
    font-weight: bolder;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-container p {
    padding : 3em;
    font-size: large;
}

.header-container p span {
    font-weight: bold;
    font-size: large;
}

.chart-container {
    display:flex;
    align-items: center;
    justify-content: center;
}


.chart {
    width:80%;
}

.cards-container {
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    justify-content: center;
}

.property {
    margin : 1em 2em;
}

.card {
    margin : 10px 20px 10px 20px;
    height : 360px;
}

.property .card-img-top {
    height : 150px;
}

.list-container {
    margin : 2% 5% 0px 5%;
    align-items: center;
    justify-content: center;
}

.transaction {
    margin : 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding : 2px 5px 2px 5px;
}

#dateCol {
    text-align: right;
}

#ethCol {
    text-align: right;
}

#ethCol span {
    font-weight: bold;
}

#sharesCol {
    text-align: left;
    padding-left : 4em;
}

#nameCol {
    font-weight: bold;
}