.search-container {
    padding: 30px 0px 30px 0px;
    width : 50%;
    margin-left: 25%;
}

.cards-container {
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    justify-content: center;
    width : 70%;
    margin-left: 15%;
}

.card {
    margin : 10px 20px 10px 20px;
    height : 360px;
}

.property .card-img-top {
    height : 150px;
}